body{
    background-color: lightgoldenrodyellow;
    
}
h1{
    color: palevioletred;
    display: flex;
    justify-content: space-around;
    text-shadow:3px 1px lightblue; 
}
strong{
    text-indent:size; 
}
.CurrentData{
    display: flex;
    justify-content: flex-end;
}
